body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Trispace', sans-serif;
    margin-bottom: 100px;
}

h1 {
    font-size: 60px;
}

.orange-color {
    color: orangered;
}

.one {
    display: flex;
    padding-top: 20px;
    padding-left: 8px;
    margin-bottom: 160px;
}

.one1 {
    width: 50%;
}

.one1 img {
    width: 80%;


}

.one11 img {
    width: 40%;
    padding-left: 300px;
    padding-top: 100px;
}

.one12 {
    width: 80%;
    margin: 8% 5%;
    text-align: justify;
    padding-right: 30px;
}

.order-food {
    text-decoration: none;
    padding-left: 4px;
    padding-top: 3px;
    background-image: linear-gradient(red, yellow);
    border-radius: 5px;
    color: black;
    font-weight: 800;

}

.ones2 {
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}